# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
crash.log

# IDE
*.swp
*.swo
.vscode/
